.maio{
    background-color: bisque;
}

.ket{
    background-color: red;
}

.most{
    background-color: yellow;
}

.barb{
    background-color: brown;
}

.molhos{
    margin-top: 10px;
    margin-bottom: 10px;
}